## .gitignore ##

# dependencies
node_modules/
.pnpm-store/

# build
/dist

# logs
*.log

# misc
.DS_Store

# non-public environment variables
.env.local
.env.*.local

# caches
.eslintcache
.stylelintcache
*.tsbuildinfo

# generated assets
/public/favicon.ico
/public/icon.svg
/public/android-chrome-192x192.png
/public/android-chrome-512x512.png
/public/apple-touch-icon.png
/public/app.webmanifest
/public/image.webp
/public/robots.txt


## .dockerignore ##

.git
.gitignore
.github
.vscode
