.square {
	aspect-ratio: 1;
}

.v-btn--active::before,
.v-chip--active::before,
.v-list-item--active::before {
	opacity: 0 !important;
}

.v-btn--active:hover::before,
.v-chip--active:hover::before,
.v-list-item--active:hover::before {
	opacity: 0.12 !important;
}
